<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="yozo.plugin.config.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="yozo.plugin.config.Perspective"
            id="yozo.plugin.config.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category name="Yozo Tools" id="yozo.plugin.config" /> 
      <view
            name="永中插件配置开发"
            category="yozo.plugin.config"
            class="yozo.plugin.config.View"
            id="yozo.plugin.config.view">
      </view>
   </extension>

</plugin>
